@font-face {
   font-family: Calibri;
   src: url(../fonts/calibrib_0.ttf);
}

html,body{
   width: 100%;
   height: 100%;
   min-height: 850px;
	position: relative;
	margin: 0 auto;
	background-color: #EBE4D2;
	font-family: Calibri;
   color: #886547;
	font-size: 20px;
	font-weight: 700;
}
/***************************************************
NAVIGATION
***************************************************/
nav{
   font-size: 16px;
   text-align: center;
   font-weight: 400;
   color: rgb(49,42,32);
}
   .nav-item{
      position: absolute;
      border: 1px solid #fff;
      letter-spacing: 0.8px;
      cursor: pointer;
      z-index: 6;
   }
   .nav-item:hover{
      background: #fff;
   }
      .nav-item._town{
         top: 300px;
         left: 200px;
         padding: 5px 23px;
      }
      .nav-item._summer{
         top: 400px;
         left: 200px;
         padding: 5px 24px;
      }
      .nav-item._contacts{
         top: 300px;
         right: 200px;
         padding: 5px 27px;
      }
      .nav-item._dreams{
         top: 400px;
         right: 200px;
         padding: 5px 15px;
      }
   @media  (max-width: 1366px){
      .nav-item._town{
         left: 40px;
      }
      .nav-item._summer{
         left: 40px;
      }
      .nav-item._contacts{
         right: 40px;
      }
      .nav-item._dreams{
         right: 40px;
      }
   }
   @media only screen and (max-device-width: 1100px) and (orientation:portrait){
      .nav-item._town{
         left: 120px;
         top: 25%;
      }
      .nav-item._summer{
         left: 120px;
         top: 70%;
      }
      .nav-item._contacts{
         right: 120px;
         top: 25%;
      }
      .nav-item._dreams{
         right: 120px;
         top: 70%;
      }
   }
   @media only screen and (max-device-width: 1100px) and (orientation:landscape){
      .nav-item._town{
         left: 10%;
         top: 10%;
      }
      .nav-item._summer{
         left: 10%;
         top: 83%;
      }
      .nav-item._contacts{
         right: 10%;
         top: 10%;
      }
      .nav-item._dreams{
         right: 10%;
         top: 83%;
      }
   }
 /**************************************************
 Main content
 **************************************************/
.content{
   width: 723px;
   height: 715px;
   /*background: url("../images/objects.png");*/
}
   .content-box{
      position: absolute;
      top: 175px;
      left: 165px;
      z-index: 2;
      width: 386px;
      height: 386px;
      background: #fff;
      color: rgb(134, 100, 70);
   }
      .content-item.__logo{
         display: block;
         width: 200px;
         margin: 55px auto;
      }
      .content-button{
         display: none;
         position: absolute;
         top: 28px;
         left: 25px;
         background: url('../images/button.png');
         width: 23px;
         height: 21px;
         cursor: pointer;
      }
      .content-item{
         display: none;
         font-size: 33px;
         text-transform: uppercase;
         text-align: center;
         margin: 135px auto;
      }
      .content-item.__piano{
         font-size: 30px;
      }
      .content-description{
         display: none;
         width: 340px;
         height: 320px;
         margin: 25px auto 0;
         color:  #423b30;
         font-size: 16px;
         font-weight: 400;
         letter-spacing: 0.8px;
         line-height: 27px;
         text-align: justify;
         overflow: hidden;
      }
      .content-description p{
         margin-top: 37px;
      }
      .topic{
         color: rgb(134, 100, 70);
         text-transform: uppercase;
         font-weight: 700;
         float: right;
      }
/***************************************************
Objects
***************************************************/
main{
   position: absolute;
   top: 50%;
   margin-top: -357.5px;
   left: 50%;
   margin-left: -364px;
   z-index: 5;

}
.objects{
   position: absolute;
   width: 728px;
   height: 768px;
   top: 0;
   left: 50%;
   margin-left: -364px;
}
   .object{
      position: absolute;
      cursor: pointer;
   }
   .object.swan{
      top: 27px;
      left: 458px;
   }
   .object.swan:hover{
      background: url('../images/swan_active.png');
   }
   .object.fern{
      top: 182px;
      right: 17px;
   }
   .object.fern:hover{
      background: url('../images/fern_active.png') 158px 135px;
   }
   .object.butterfly{
      top: 242px;
      right: 29px;
   }
   .object.butterfly:hover{
      background: url('../images/butterfly_active.png') 160px 247px;
   }
   .object.books{
      right: 50px;
      bottom: 52px;
   }
   .object.books:hover{
      background:url('../images/books_active.png') 570px 283px;
   }
   .object.piano{
      bottom: 120px;
      left: 209px;
   }
   .object.piano:hover{
      background:url('../images/piano_active1.png') -23px 104px;
   }
   .object.raspberries{
      bottom: 142px;
      left: 2px;
   }
   .object.raspberries:hover{
      background:url('../images/raspberries_active.png') 306px 364px;
   }
   .object.bike{
      bottom: 383px;
      left: 10px;
   }
   .object.bike:hover{
      background:url('../images/bike_active.png') 176px 106px;
   }
   .object.globe{
      top: 150px;
      left: 78px;
   }
   .object.globe:hover{
      background:url('../images/globe_active.png') 114px 165px;
   }
   .object.telescope{
      top: 93px;
      left: 80px;
   }
   .object.telescope:hover{
      background:url('../images/telescope_active.png') 88px 94px;
   }
   .object.home{
      top: 0;
      left: 120px;
   }
   .object.home:hover{
      background: url('../images/home_active.png') 145% 30% no-repeat;
   }
   .object.flags{
      top: 0;
      right: 269px;
   }
   .object.flags:hover{
      background: url('../images/flags_active.png') 128px 54px;
   }
/***************************************************
Arrows
***************************************************/
   .arrow{
      position: absolute;
      cursor: pointer;
      z-index: 2;
   }
   .arrow._swan{
      top: 70px;
      right: 115px;
      background: url('../images/arrow_swan.png');
      width: 31px;
      height: 6px;
   }
   .arrow._swan:hover ~ .object.swan{
      background: url('../images/swan_active.png');
   }
   .arrow._fern{
      top: 175px;
      right: 0;
      background: url('../images/arrow_fern.png');
      width: 23px;
      height: 21px;
   }
   .arrow._fern:hover ~ .object.fern{
      background: url('../images/fern_active.png') 158px 135px;
   }
   .arrow._butterfly{
      top: 300px;
      right: 10px;
      background: url('../images/arrow_butterfly.png');
      width: 38px;
      height: 13px;
   }
   .arrow._butterfly:hover ~ .object.butterfly{
      background: url('../images/butterfly_active.png') 160px 247px;
   }
   .arrow._books{
      top: 515px;
      right: 0;
      background: url('../images/arrow_books.png');
      width: 32px;
      height: 21px;
   }
   .arrow._books:hover ~ .object.books{
      background:url('../images/books_active.png') 570px 283px;
   }
   .arrow._piano{
      bottom: 155px;
      left: 60px;
      background: url('../images/arrow_piano.png');
      width: 29px;
      height: 13px;
   }
   .arrow._piano:hover ~ .object.piano{
      background:url('../images/piano_active1.png') -23px 104px;
   }
   .arrow._raspberries{
      bottom: 280px;
      left: 0;
      background: url('../images/arrow_raspberries.png');
      width: 28px;
      height: 31px;
   }
   .arrow._raspberries:hover ~ .object.raspberries{
      background:url('../images/raspberries_active.png') 306px 364px;
   }
   .arrow._bike{
      top: 255px;
      left: 0;
      background: url('../images/arrow_bike.png');
      width: 7px;
      height: 31px;
   }
   .arrow._bike:hover ~ .object.bike{
      background:url('../images/bike_active.png') 176px 106px;
   }
   .arrow._globe{
      top: 200px;
      left: 30px;
      background: url('../images/arrow_globe.png');
      width: 28px;
      height: 13px;
   }
   .arrow._globe:hover ~ .object.globe{
      background:url('../images/globe_active.png') 114px 165px;
   }
   .arrow._telescope{
      top: 60px;
      left: 110px;
      background: url('../images/arrow_telescope.png');
      width: 23px;
      height: 19px;
   }
   .arrow._telescope:hover ~ .object.telescope{
      background:url('../images/telescope_active.png') 88px 94px;
   }
   .arrow._home{
      top: 5px;
      left: 205px;
      background: url('../images/arrow_home.png');
      width: 28px;
      height: 8px;
   }
   .arrow._home:hover ~ .object.home{
      background: url('../images/home_active.png') 145% 30% no-repeat;
   }
   .arrow._flags{
      top: -15px;
      right: 230px;
      background: url('../images/arrow_flags.png');
      width: 29px;
      height: 18px;
   }
   .arrow._flags:hover ~ .object.flags{
      background: url('../images/flags_active.png') 128px 54px;
   }
/***************************************************
Footer
/*****************************************************/
footer{
   position: relative;;
   overflow: hidden;
   height: 100%;
}
   .hedgehog{
      position: absolute;
      bottom: -18px;
      background: url('../images/hedgehog.png');
      display: inline-block;;
      width: 160px;
      height: 102px;
   }
   .grass{
      background: url('../images/grass_right.png');
      position: absolute;
      width: 100%;
      height: 95px;
      bottom: 0px;
   }
/***************************************************
Animation
/*****************************************************/
.hedgehog{
   animation-name: moving;
   animation-duration: 30s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;

   -moz-animation-name: moving;
   -moz-animation-duration: 30s;
   -moz-animation-timing-function: linear;
   -moz-animation-iteration-count: infinite;

   -webkit-animation-name: moving;
   -webkit-animation-duration: 30s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;

   -ms-animation-name: moving;
   -ms-animation-duration: 30s;
   -ms-animation-timing-function: linear;
   -ms-animation-iteration-count: infinite;
}

@keyframes moving {
   0%{
      transform: translate(-70%, 0);
      }
   5%{
      transform: translate(0, 0);
   }
   10%{
      transform: translate(70%, 1px) rotate(-2deg);
      }
   20%{
      transform: translate(200%, 8px) rotate(-8deg);
      }
   30%{
      transform: translate(300%, 13px) rotate(2deg);
      }
   40%{
      transform: translate(400%, 18px) rotate(6deg);
      }
   50%{
      transform: translate(500%, 5px) rotate(-1deg);
   }
   60%{
      transform: translate(600%,6px) rotate(6deg);
   }
   70%{
      transform: translate(700%, 4px) rotate(3deg);
      }
   80%{
      transform: translate(800%, 7px) rotate(-3deg);
      }
   90%{
      transform: translate(900%, 5px) rotate(8deg);
      }
   100%{
      transform: translate(1000%, 0);
      opacity: 0.8;
    }
}
@-webkit-keyframes moving {
   0%{
      -webkit-transform: translate(0, 0);
     }
   10%{
      -webkit-transform: translate(100%, 1px) rotate(-2deg);
      }
   20%{
      -webkit-transform: translate(200%, 8px) rotate(-8deg);
      }
   30%{
      -webkit-transform: translate(300%, 13px) rotate(2deg);
      }
   40%{
      -webkit-transform: translate(400%, 18px) rotate(6deg);
      }
   50%{
      -webkit-transform: translate(500%, 5px) rotate(-1deg);
   }
   60%{
      -webkit-transform: translate(600%,6px) rotate(6deg);
   }
   70%{
      -webkit-transform: translate(700%, 4px) rotate(3deg);
      }
   80%{
      -webkit-transform: translate(800%, 7px) rotate(-3deg);
      }
   90%{
      -webkit-transform: translate(900%, 5px) rotate(8deg);
      }
   100%{
      -webkit-transform: translate(1000%, 0);
      opacity: 0.8;
   }
}
@-moz-keyframes moving {
   0%{
      -moz-transform: translate(0, 0);
     }
   10%{
      -moz-transform: translate(100%, 1px) rotate(-2deg);
      }
   20%{
      -moz-transform: translate(200%, 8px) rotate(-8deg);
      }
   30%{
      -moz-transform: translate(300%, 13px) rotate(2deg);
      }
   40%{
      -moz-transform: translate(400%, 18px) rotate(6deg);
      }
   50%{
      -moz-transform: translate(500%, 5px) rotate(-1deg);
   }
   60%{
      -moz-transform: translate(600%,6px) rotate(6deg);
   }
   70%{
      -moz-transform: translate(700%, 4px) rotate(3deg);
      }
   80%{
      -moz-transform: translate(800%, 7px) rotate(-3deg);
      }
   90%{
      -moz-transform: translate(900%, 5px) rotate(8deg);
      }
   100%{
      -moz-transform: translate(1000%, 0);
      opacity: 0.8;
   }
}
